<h2 mat-dialog-title>Apply to {{ project.title }}</h2>
<mat-dialog-content>
  <form [formGroup]="jobForm">
      <h3>Personal Statement</h3>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Personal Statement</mat-label>
        <textarea matInput formControlName="personal_statement" rows="4" placeholder="Tell us about yourself"></textarea>
        @if (jobForm.get('personal_statement')?.hasError('required'))
        {<mat-error>
          Personal statement is required
        </mat-error>}
      </mat-form-field>

      <h3>Experience</h3>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Experience</mat-label>
        <textarea matInput formControlName="experience" rows="4" placeholder="Please tell us what you have done?"></textarea>
        @if (jobForm.get('experience')?.hasError('required'))
        {<mat-error>
          Your Experience is required
        </mat-error>}
      </mat-form-field>

      <h3>Your GPA</h3>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>GPA</mat-label>
        <input matInput type="number" formControlName="gpa" placeholder="please input your GPA">
        @if (jobForm.get('gpa')?.hasError('required'))
        {<mat-error>
          Please input your GPA
        </mat-error>}
      </mat-form-field>

      <h3>Skills</h3>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Skills</mat-label>
        <textarea matInput formControlName="skills" rows="2" placeholder="Enter any language, frameworks, technology that you know"></textarea>
        @if (jobForm.get('skills')?.hasError('required'))
        {<mat-error>
          Skills are required
        </mat-error>}
      </mat-form-field>

      <h3>Contact</h3>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contact</mat-label>
        <textarea matInput formControlName="contact" rows="2" placeholder="Enter your preferred contact information"></textarea>
        @if (jobForm.get('contact')?.hasError('required'))
        {<mat-error>
          Contact is required
        </mat-error>}
      </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button color="warn" (click)="close()">Cancel</button>
  <button mat-flat-button color="primary" (click)="submitJobApplication()" [disabled]="!isValid">
    Apply
  </button>
</mat-dialog-actions>