@if (project) {
  <mat-card class="project-details-card">
    <mat-card-header>
      <mat-card-title class="title">{{ project.title }}</mat-card-title>
      <mat-card-subtitle class="author">Job Posted By: <i>{{ project.author }}</i></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div>
        <div class="content-grid">
          <!-- Left: Text Sections -->
          <div class="left-content">
            <div>
              <div class="section-title">Description</div>
              <div class="section-content">
                {{ project.long_description }}
              </div>
            </div>
  
            <div>
              <div class="section-title">Requirements</div>
              <div class="section-content">
                {{ project.requirements }}
              </div>
            </div>
            @if(project.additional_info){
            <div>
              <div class="section-title">Additional Info</div>
              <div class="section-content">
                {{ project.additional_info }}
              </div>
            </div>
            }
          </div>
  
          <!-- Right: Image + Contact -->
          <div class="right-content">
            <img class="project-image" [src]="project.image" alt="Project Image" />
  
            <div class="contact-box">
              <p><strong>Email:</strong> {{ project.email }}</p>
              @if (project.phone_number) {
                <p><strong>Phone:</strong> {{ project.phone_number }}</p>
              }
              @if (project.linked_in) {
                <p><strong>LinkedIn: </strong> 
                  <a [href]="project.linked_in" target="_blank">
                    {{project.linked_in}}
                  </a>
                </p>
              }
            </div>
  
          </div>
        </div>

        <!-- Bottom: Apply Form -->
         <div class="button-actions">
          <mat-card-actions>
            <a
            [routerLink]="['/projects']"> 
              <button mat-flat-button>Back</button>
            </a>
          </mat-card-actions>

          <mat-card-actions>
            @if (isAuthor()) {
              <button mat-flat-button color="warn" (click)="deleteProject()">Delete</button>
            }
            @else {
              <button mat-flat-button (click)="openApplyJobDialog()">Apply</button>
            }
          </mat-card-actions>
         </div>

      </div>
    </mat-card-content>
  </mat-card>
}